.resources{
    
    &__filter{

        margin: -10px 20px 30px 20px;

        &_container{
            border-radius: 10px;
            background-color: rgba(0,0,0,.03);
            .card-header:first-child{
                border: 0px;
            }
        }

        &_header h4{
            cursor: pointer;
            font-size: 1em !important;
        }

        &_header .col-md-4{
            height: 40px;
        }

        &_label{
            font-weight: bold;
        }

        &_control{
            height: 20px !important;
        }
    }   
    
}

.card-header{
    background-color: rgba(0,0,0,0);
}